In [1]:
import pandas as pd

data={
        "name":["Nha","Panh"],
        "age":[21,19],
        "salary":[250,200]
    }

df = pd.DataFrame(data)
# print(f"data: \n{df}")

s = pd.Series([10,2,4],index=["a","b","c"])
# print(s["a"])

In [ ]:
#diction
import pandas as pd

df = pd.DataFrame([
    {
        "Name":"LL","Age":10
    },
    {
        "Name":"KOKO","Age":19
    },
    {
        "Name":"POPO","Age":8
    }
])

hand = df.head(1)
tail = df.tail(2)
shape = df.shape
info = df.info()
describe = df.describe()

print(f"Hand: \n:{hand}")
print(f"Tail: \n: {tail}")
print(f"Shape: \n: {shape}")
print(f"Info: \n: {info}")
print(f"describe: \n: {describe}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes
Hand:
:  Name  Age
0   LL   10
Tail:
:    Name  Age
1  KOKO   19
2  POPO    8
Shape:
: (3, 2)
Info:
: None
describe:
:              Age
count   3.000000
mean   12.333333
std     5.859465
min     8.000000
25%     9.000000
50%    10.000000
75%    14.500000
max    19.000000

In [ ]:
import pandas as pd


# List
data = {
    "Name":["PL","LP","GJ","YY","RR"],
    "Age":[22,55,23,24,19],
    "Salary":[500,777,555,999,222]
}

df = pd.DataFrame(data)
ages = df["Age"]
subSet = df[["Name","Salary"]]
filterAge = df[df["Age"] == 22]
filterSalary = df[df["Salary"] >= 230]

print(f"Age :\n{ages}")
print(f"SubSet :\n{subSet}")
print(f"filterAge :\n{filterAge}")
print(f"filterSalary :\n{filterSalary}")

Age :
0    22
1    55
2    23
3    24
4    19
Name: Age, dtype: int64
SubSet :
  Name  Salary
0   PL     500
1   LP     777
2   GJ     555
3   YY     999
4   RR     222
filterAge :
  Name  Age  Salary
0   PL   22     500
filterSalary :
  Name  Age  Salary
0   PL   22     500
1   LP   55     777
2   GJ   23     555
3   YY   24     999

In [ ]:
df.loc[0:1, "Salary"] = [7009, 700] # adding
df["Age"]=df["Age"] +1 #modify

dele = df.drop("Age", axis=1,inplace=True)

print(df)

print(dele)

In [ ]:
#data cleaing
import pandas as pd

data1 = {
    "name":["KOK1","KOK","POPO"],
    "salary":[1000,2000,800],
    "age":[20,27,18]
}

df1 = pd.DataFrame(data1)
df1["Major"] = ["CS","Network","DS"] #adding
df1["year"] = ["y1","y2","y3"] #adding
print(f"After adding filed {df1}")


dup = df1.replace("NET","Cs")
print(f"{dup}")

#convert to data types
type=df1["age"].astype(float)
print(type)

After adding filed    name  salary  age    Major year
0  KOK1    1000   20       CS   y1
1   KOK    2000   27  Network   y2
2  POPO     800   18       DS   y3
   name  salary  age    Major year
0  KOK1    1000   20       CS   y1
1   KOK    2000   27  Network   y2
2  POPO     800   18       DS   y3
0    20.0
1    27.0
2    18.0
Name: age, dtype: float64

In [ ]:
# sort
print(f"Before sorting\n{df1}")

sorts = df1.sort_values("salary", ascending=False)

print(f"After sorting\n{sorts}")

In [24]:
# aggregation

# Sum salary by Major
sum_salary = df1.groupby("Major")["salary"].sum()
print(f"Sum value = \n{sum_salary}\n")

# Count Major by year
count_major = df1.groupby("year")["Major"].count()
print(f"Count value = \n{count_major}")

Sum value =
Major
CS         1000
DS          800
Network    2000
Name: salary, dtype: int64

Count value =
year
y1    1
y2    1
y3    1
Name: Major, dtype: int64